@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./styles/header-top.css');
@import url('./styles/header-bottom.css');
@import url('./styles/metricas.css');
@import url('./styles/vagas-top.css');

:root {
    --fonte-primaria: 'Inter', sans-serif;
    --cor-fundo: #ffffff;
    --cor-primaria: #667085;
    --cor-secundaria: #3A404E;
    --cor-terciaria: #8E2424;
    --cor-titulo: #101828;
}

body {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
}