.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20.25rem;
    text-align: center;
    justify-content: center;
}

.header-bottom__span {
    color: var(--cor-terciaria);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 6rem;
}

.header-bottom__titulo {
    color: var(--cor-titulo);
    font-size: 3rem;
    font-weight: 600;
    margin: 1.5rem 0 2.25rem 0;
}

.header-bottom__paragrafo {
    color: var(--cor-primaria);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}