.header-top {
    display: flex;
    align-items: center;
    padding: 1.656rem 7rem;
    justify-content: center;
    text-align: center;
}

.header-top__logo-texto {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: 2rem;
}

.header-top__logo-texto__texto {
    color: var(--cor-secundaria);
    font-size: 1.125rem;
    font-weight: 500;
}

.header-top__navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: 7.438rem;
}

.header-top__navbar__lista {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.header-top__navbar__lista__item__link {
    color: var(--cor-primaria);
    font-weight: 500;
    text-decoration: none;
}

.header-top__usuario {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-left: 23.75rem;
}

.header-top__usuario__link {
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: 500;
    padding: 0.625rem 1.125rem;
}

.header-top__usuario__link-destaque {
    color: var(--cor-fundo);
    background-color: var(--cor-terciaria);
    border: 0.063rem solid var(--cor-terciaria);
    border-radius: 0.5rem;
    margin-right: 2rem;
}