.vagas-top {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7rem 0 7rem;
}

.vagas-top__span {
    color: var(--cor-terciaria);
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.25rem 0.75rem;
    background-color: var(--cor-fundo-secundaria);
    border-radius: 1rem;
}

.vagas-top__titulo {
    color: var(--cor-titulo);
    font-size: 2.25rem;
    font-weight: 600;
    margin: 1rem 0 1.25rem 0;
}

.vagas-top__texto {
    color: var(--cor-primaria);
    font-size: 1.25rem;
    font-weight: 400;
}

.vagas-top__imagem {
    margin-top: 4rem;
    width: 100%;
}